ENV=local

MYSQL_DATABASE=agent_flow
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_PORT=3306
MYSQL_PORT_LOCAL=13306
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=passroot

BACKEND_PORT=8080
FRONTEND_PORT=5173

LOGFIRE_TOKEN=
LOGFIRE_CONSOLE=false
OPENAI_API_KEY=